@using ProductStorage.DAL.Entities

@model List<Customer>

@{
    ViewData["Title"] = "GetCustomers";
}

<h1>GetCustomers</h1>

@foreach (var customer in Model)
{
    <p>@customer.CustomerID --- @customer.Name --- @customer.Phone</p>
}
